@import "tailwindcss";

@font-face {
  font-family: "pricedown";
  src: url("./pricedown.otf");
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "pricedown";
}

.character {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(2.5) rotate(-20deg);
  bottom: -130%;
  z-index: 10;
}
